h1 {
    background-color: orange;
    padding: 10px;
    margin: 10px;
}
.description {
    width: 50%;
    margin: 10px;
    background-color: grey;
    padding: 10px;
    color: white;
}
.crystal {
    width: 20%;
    display: inline-block;
}
#randomNumber {
    width: 200px;
    background-color: green;
    color: white;
    height: 200px;
    margin-left: 10px;
    float: left;
}
.scoring {
    float: left;
    height: 180px;
    background-color: blue;
    padding: 10px;
    width: 150px;
    color: white;
    margin-right: 30%;
}